



/*login form css*/
.login-container{border: 1px solid #a0a0a0;border-radius:5px; width: 300px;height:220px;margin:50px auto}
.login-container input{width:200px; height:40px; padding:0 10px; border: 2px solid grey;display:block;margin:5px auto; border-radius:5px;}
.login-container button{text-align: center; margin: 10px auto;height:40px;width: 200px; display:block; background-color:#4477ff;color:#fff;border-radius:5px; font-size: 16px; cursor:pointer; border: 2px solid #4477ff}
.login-container h1{color:#4477ff;text-align:center;font-size:24px}


/*Table css-style*/
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg .tg-4eph {
    background-color: #f9f9f9
}